<div class='container'>

<%= form_for @event, class: 'form-group' do |f| %>

  Name: <br>
  <%= f.text_field :name, class: 'form-control' %>
  Description: <br>
  <%= f.text_area :extended_html_description, class: 'form-control' %>
  Start: <br>
  <%= f.datetime_local_field :starts_at, class:'form-control' %>
  End: <br>
  <%= f.datetime_local_field :ends_at, class: 'form-control' %>
  Venue:<br>
  <%= f.select(:venue_id, {}, {prompt: "Select venue"}, {:class => 'form-control'}) do%>
    <% @venues.each do |g| %>
      <%= content_tag(:option, "#{g.name}", value: g.id) %>
    <% end%>
  <% end %>
  Category: <br>
  <%= f.select(:category_id, {}, {prompt: "Select category"}, {:class => 'form-control'}) do%>
    <% @categories.each do |g| %>
      <%= content_tag(:option, "#{g.name}", value: g.id) %>
    <% end%>
  <% end %>

  

  <br>
        
  <%= f.submit "Update event" %>

<% end %>
</div>