<!DOCTYPE html>
<html>
<head>
  <title>CsTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Log out", logout_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create Event", new_event_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create Venue", new_venue_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log In", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

    
  </nav> 
  <div style = "height:54px; background-color:green">
  </div> 
  <%= flash_messages %>
  <%= yield %>

</body>
</html>
